.feedback_travelers {
	width: 100%;
	height: 50vh;
	margin-top: 4%;
}

.feedback_travelers .swiper-button-prev {
	color: #dc3545;
}

.feedback_travelers .swiper-button-next {
	color: #dc3545;
}
.feedback_travelers .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.feedback_travelers .swiper-slide .feedback_comment {
	line-height: 0.2rem;
}

.feedback_travelers .swiper-slide .feedback_comment .feedback_comment_btn {
	margin-top: 10px;
	border-radius: 20px;
}

.feedback_travelers
	.swiper-slide
	.feedback_comment
	.feedback_comment_btn:hover {
	background-color: #000;
	border-color: #000;
}
